<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/core-menu/core-menu.html">
<link rel="import" href="../bower_components/core-menu/core-submenu.html">
<link rel="import" href="../bower_components/core-item/core-item.html">

<polymer-element name="sidebar-layout" attributes="selected" noscript>
  <template>
    <link rel="stylesheet" href="sidebar-layout.css">
    <core-scaffold>
      <core-header-panel navigation flex mode="seamed">
        <core-toolbar>Athena Demo</core-toolbar>
        <core-menu>
          <a active?="{{selected == 'home'}}" href="/">
            <core-item icon="home" label="Home"></core-item>
          </a>
          <core-submenu icon="list" label="Athena Concept">
            <a active?="selected == 'concept'" href="../notes.html">
              <core-item icon="link" label="Concept"></core-item>
            </a>
            <a href="https://www.polymer-project.org">
              <core-item icon="polymer" label="Polymer"></core-item>
            </a>

            <a href="https://jakearchibald.github.io/isserviceworkerready/">
              <core-item icon="info-outline" label="ServiceWorkers"></core-item>
            </a>

            <a href="https://get.webgl.org/">
              <core-item icon="info-outline" label="WebGL"></core-item>
            </a>

            <a href="http://d3js.org/">
              <core-item icon="info-outline" label="D3"></core-item>
            </a>

            <a href="http://idpf.org/epub/30">
              <core-item icon="info-outline" label="ePub 3"></core-item>
            </a>

            <a href="https://github.com/caraya/athena-framework">
              <core-item icon="exit-to-app" label="Source Code"></core-item>
            </a>
          </core-submenu>

          <core-submenu icon='list' label="External Content Test">
            <a href='http://chimera.labs.oreilly.com/books/1230000000345/ch12.html'>
              <core-item icon='info-outline' label='D3 Geomapping'></core-item>
            </a>

            <a href='http://chimera.labs.oreilly.com/books/1230000000345/apa.html'>
              <core-item icon='info-outline' label="D3 Further Study"></core-item>
            </a>
          </core-submenu>
          <core-submenu icon="list" label="Peter Pan Text">
            <a active?="selected == 'ch01'" href="content/ch01.html">
              <core-item label="Chapter 1" icon="label-outline"></core-item>
            </a>

            <a active?="selected == 'ch02'" href="content/ch02.html">
              <core-item label="Chapter 2" icon="label-outline"></core-item>
            </a>

            <a active?="selected == 'ch03'" href="content/ch03.html">
              <core-item label="Chapter 3" icon="label-outline"></core-item>
            </a>

            <a active?="selected == 'ch04'" href="content/ch04.html">
              <core-item label="Chapter 4" icon="label-outline"></core-item>
            </a>

            <a active?="selected == 'ch05'" href="content/ch05.html">
              <core-item label="Chapter 5" icon="label-outline"></core-item>
            </a>

            <a active?="selected == 'ch06'" href="content/ch06.html">
              <core-item label="Chapter 6" icon="label-outline"></core-item>
            </a>

            <a active?="selected == 'ch07'" href="content/ch07.html">
              <core-item label="Chapter 7" icon="label-outline"></core-item>
            </a>

            <a active?="selected == 'ch08'" href="content/ch08.html">
              <core-item label="Chapter 8" icon="label-outline"></core-item>
            </a>

            <a active?="selected == 'ch09'" href="content/ch09.html">
              <core-item label="Chapter 9" icon="label-outline"></core-item>
            </a>

            <a active?="selected == 'ch10'" href="content/ch10.html">
              <core-item label="Chapter 10" icon="label-outline"></core-item>
            </a>

            <a active?="selected == 'ch11'" href="content/ch11.html">
              <core-item label="Chapter 11" icon="label-outline"></core-item>
            </a>

            <a active?="selected == 'ch12'" href="content/ch12.html">
              <core-item label="Chapter 12" icon="label-outline"></core-item>
            </a>

            <a active?="selected == 'ch13'" href="content/ch13.html">
              <core-item label="Chapter 13" icon="label-outline"></core-item>
            </a>

            <a active?="selected == 'ch14'" href="content/ch14.html">
              <core-item label="Chapter 14" icon="label-outline"></core-item>
            </a>

            <a active?="selected == 'ch15'" href="content/ch15.html">
              <core-item label="Chapter 15" icon="label-outline"></core-item>
            </a>

            <a active?="selected == 'ch16'" href="content/ch16.html">
              <core-item label="Chapter 16" icon="label-outline"></core-item>
            </a>

            <a active?="selected == 'ch17'" href="content/ch17.html">
              <core-item label="Chapter 17" icon="label-outline"></core-item>
            </a>
          </core-submenu>

        </core-menu>
      </core-header-panel>
      <div tool>
        <content select=".title"></content>
      </div>
      <div class="content">
        <content></content>
      </div>
    </core-scaffold>
  </template>
</polymer-element>
